body {
  background-color: #222;
  color: #FFF;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  
}

button#removeBtn {
  margin-left: 10px;
  font-size: 15px;
}

